In [5]:
import numpy as np
import pandas as pd
from sklearn import preprocessing

In [7]:
data = pd.read_csv('Audiobooks_data.csv',delimiter=',')

In [8]:
data.head(20)

    00994    1620  1620.1  19.73  19.73.1  1  10.00  0.99  1603.80  5   92  0
0    1143  2160.0    2160   5.33     5.33  0   8.91  0.00      0.0  0    0  0
1    2059  2160.0    2160   5.33     5.33  0   8.91  0.00      0.0  0  388  0
2    2882  1620.0    1620   5.96     5.96  0   8.91  0.42    680.4  1  129  0
3    3342  2160.0    2160   5.33     5.33  0   8.91  0.22    475.2  0  361  0
4    3416  2160.0    2160   4.61     4.61  0   8.91  0.00      0.0  0    0  0
5    4949  2160.0    2160   5.33     5.33  0   8.91  0.04     86.4  0  366  0
6    9011   648.0     648   5.33     5.33  0   8.91  0.00      0.0  0    0  1
7    9282  2160.0    2160   5.33     5.33  0   8.91  0.26    561.6  0   33  0
8   10500  2160.0    2160   5.33     5.33  1  10.00  0.27    583.2  0  366  0
9   12898   540.0     540   5.33     5.33  0   8.91  0.28    151.2  0   34  0
10  16370  2160.0    2160   5.33     5.33  0   8.91  0.00      0.0  0    0  1
11  16587  2160.0    2160  13.33    13.33  0   8.91  0.60   1296.0  0   98  0
12  18065   648.0     648  50.66    50.66  0   8.91  0.00      0.0  0    0  0
13  19313  2160.0    2160   7.03     7.03  0   8.91  0.00      0.0  0    0  0
14  19996   594.0    1188  29.33    58.67  0  10.00  0.00      0.0  0    0  1
15  20124  2160.0    2160   5.33     5.33  0   8.91  0.00      0.0  0   29  0
16  23153  1620.0    1620  11.68    11.68  1   8.00  0.71   1150.2  1   25  0
17  23372  2160.0    2160   5.33     5.33  0   8.91  0.00      0.0  0    1  0
18  23757  2160.0    2160   5.33     5.33  0   8.91  0.00      0.0  0    9  0
19  24187  1620.0    1620  14.29    14.29  1   7.00  0.43    696.6  0   66  0

In [9]:
raw_csv_data = np.loadtxt('Audiobooks_data.csv',delimiter=',')

In [10]:
raw_csv_data.view()

array([[9.9400e+02, 1.6200e+03, 1.6200e+03, ..., 5.0000e+00, 9.2000e+01,
        0.0000e+00],
       [1.1430e+03, 2.1600e+03, 2.1600e+03, ..., 0.0000e+00, 0.0000e+00,
        0.0000e+00],
       [2.0590e+03, 2.1600e+03, 2.1600e+03, ..., 0.0000e+00, 3.8800e+02,
        0.0000e+00],
       ...,
       [3.1134e+04, 2.1600e+03, 2.1600e+03, ..., 0.0000e+00, 0.0000e+00,
        0.0000e+00],
       [3.2832e+04, 1.6200e+03, 1.6200e+03, ..., 0.0000e+00, 9.0000e+01,
        0.0000e+00],
       [2.5100e+02, 1.6740e+03, 3.3480e+03, ..., 0.0000e+00, 0.0000e+00,
        1.0000e+00]])

In [11]:
unscaled_inputs_all = raw_csv_data[:,1:-1]

In [12]:
targets_all = raw_csv_data[:,-1]

### Balance the dataset

In [13]:
num_one_targets = int(np.sum(targets_all))
zero_targets_counter = 0
indices_to_remove = []

for i in range(targets_all.shape[0]):
    if targets_all[i] == 0:
        zero_targets_counter += 1
        if zero_targets_counter > num_one_targets:
            indices_to_remove.append(i)
            
unscaled_inputs_equal_priors = np.delete(unscaled_inputs_all, indices_to_remove, axis=0)
targets_equal_priors = np.delete(targets_all, indices_to_remove, axis=0)

### Standardize the inputs

In [14]:
scaled_inputs = preprocessing.scale(unscaled_inputs_equal_priors)

### Shuffle the data

In [15]:

shuffled_indices = np.arange(scaled_inputs.shape[0])
np.random.shuffle(shuffled_indices)

# Use the shuffled indices to shuffle the inputs and targets.
shuffled_inputs = scaled_inputs[shuffled_indices]
shuffled_targets = targets_equal_priors[shuffled_indices]

### Split the dataset into train, validation, and test

In [16]:
# Count the total number of samples
samples_count = shuffled_inputs.shape[0]

# Count the samples in each subset,
train_samples_count = int(0.8 * samples_count)
validation_samples_count = int(0.1 * samples_count)

# The 'test' dataset contains all remaining data.
test_samples_count = samples_count - train_samples_count - validation_samples_count

# Create variables that record the inputs and targets for training
train_inputs = shuffled_inputs[:train_samples_count]
train_targets = shuffled_targets[:train_samples_count]

# Create variables that record the inputs and targets for validation
# They are the next "validation_samples_count" observations, folllowing the "train_samples_count" we already assigned
validation_inputs = shuffled_inputs[train_samples_count:train_samples_count+validation_samples_count]
validation_targets = shuffled_targets[train_samples_count:train_samples_count+validation_samples_count]

# Create variables that record the inputs and targets for test.
# They are everything that is remaining.
test_inputs = shuffled_inputs[train_samples_count+validation_samples_count:]
test_targets = shuffled_targets[train_samples_count+validation_samples_count:]

# Print the number of targets that are 1s, the total number of samples, and the proportion for training, validation, and test.
print(np.sum(train_targets), train_samples_count, np.sum(train_targets) / train_samples_count)
print(np.sum(validation_targets), validation_samples_count, np.sum(validation_targets) / validation_samples_count)
print(np.sum(test_targets), test_samples_count, np.sum(test_targets) / test_samples_count)

1782.0 3579 0.4979044425817267
235.0 447 0.5257270693512305
220.0 448 0.49107142857142855

In [17]:
# Save the three datasets in *.npz

np.savez('Audiobooks_data_train', inputs=train_inputs, targets=train_targets)
np.savez('Audiobooks_data_validation', inputs=validation_inputs, targets=validation_targets)
np.savez('Audiobooks_data_test', inputs=test_inputs, targets=test_targets)